@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #1e293b;
  --dark-green: #1d351d;
  --medium-green: #325632;
  --burgundy: #8b181d;
  --crimson: #6f0f11;
  --beige: #e6be9a;
}

body {
  background: linear-gradient(to bottom, #faf8f6, #f5f0ea);
  min-height: 100vh;
}
